* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    /* border: 1px solid blue; */
    font-family: "Roboto", sans-serif;
  }

.header {
    background-color: gray;
    display: flex;
    flex-direction: column;

}

.head-login {
    display: flex;
    justify-content: flex-end;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.nav-links {
    display: flex;
    align-items: flex-end;
}

.grid-container {
    /* display: grid;
    padding: .5em;
    align-items: center;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;     */
    display: grid;
    padding: 1.3em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1.5fr);
    gap: 1.5em;
  }

  .actual-card {
      background-color: blanchedalmond;
      border-radius: .75em;
      box-shadow: .2em .2em .2em;
  }
      
  .bubble-image {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      height: 10em;
  }

  .image-overlays {
      position: relative;
  }

  /* .fa-reply {
      height: 50px;
      color: blue;
  } */

  .date-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 250px;
    top: 150px;
    z-index: 1;
    background-color: white;
    padding: 1em;
    border-radius: 100em;
    border: 1px solid #d3d3d3;
  }

  .tasting-notes {
      background-color: cornflowerblue;
      margin: .75em;
      padding: .75em;
      font-weight: 200;
  }


.uppercase {
    text-transform: uppercase;
  }
  
  /*desktop breakpoints */
@media screen and (min-width: 1200px) {
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 1em;
    }



