* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    /* border: 1px solid blue; */
    font-family: "Roboto", sans-serif;
  }

.home-page {
    background-color: #D3A588;
     
}

.header {
    background-color:#7A6563;
    display: flex;
    flex-direction: column;
    height: 6em;
    color: white;

}

.head-login {
    display: flex;
    justify-content: flex-end;
    margin-right: .5em;
}

.login-dropdown {
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 90%;
}

.title-logo {
    padding: .25em;
    font-size: 35;
}

ul {
    list-style: none;
}

.nav-icons {
    padding: 1em;
}
.nav-links {
    display: flex;
    align-items: flex-end;
}

.grid-container {
    /* display: grid;
    padding: .5em;
    align-items: center;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;     */
    display: grid;
    padding: 1.3em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1.5fr);
    gap: 1.5em;
  }

  .actual-card {
      background-color: #ECE2D0;;
      border-radius: .5em;
      box-shadow: .2em .2em .2em;
  }
      
  .bubble-image {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      height: 10em;
  }

  .image-overlays {
      position: relative;
  }

  .fa-reply {
      position: absolute;
      color: #fff;
      margin: .75em;
      padding: .75em;
      border-radius: 100em;
      background-color: #E56399;
    
  }

  .text-section {
      display: flex;
      flex-direction: column;
      align-items: center;

  }

  .bubness {
      font-size: 25;
  }

  /* .fa-reply {
      height: 50px;
      color: blue;
  } */

  .ranking-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 35em;
    top: 7em;
    background-color: #E56399;
    padding: 2em;
    border-radius: 100em;
  }

  .rank {

  }

  .tasting-notes {
    background-color: #7FD1B9;
    margin: .75em;
    padding: .75em;
    font-weight: 200;
  }


.uppercase {
    text-transform: uppercase;
  }
  
  /*desktop breakpoints */
@media screen and (min-width: 1200px) {
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 1em;
    }



